alignment-cpp/libraries
alignment-cpp/CMakeCache.txt
alignment-cpp/CMakeFiles/
alignment-cpp/Cpp_alignment
alignment-cpp/DistanceResults
alignment-cpp/TimePipComplete
alignment-cpp/Testbench
alignment-cpp/Makefile
alignment-cpp/cmake_install.cmake

alignment-cpp/Notes.md

alignment-python/bin
alignment-python/lib
alignment-python/lib64
alignment-python/share

dataset/*

alignment-cpp/libalignmentCPP.a

alignment-cpp/saveIntmResults
alignment-cpp/distance_results/*.csv
alignment-cpp/distance_results/after_optimizations/*.csv
alignment-cpp/timing/*.csv
alignment-cpp/timing/pipeline_complete/*.csv
alignment-cpp/timing/pipeline_optimizations/*.csv
alignment-cpp/timing/pipeline_steps/*.csv
