[submodule "FlameGraph"]
	path = FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "alignment-cpp/libraries/NumCpp"]
	path = alignment-cpp/libraries/NumCpp
	url = https://github.com/dpilger26/NumCpp
[submodule "alignment-cpp/libraries/opencv"]
	path = alignment-cpp/libraries/opencv
	url = https://github.com/opencv/opencv
[submodule "alignment-cpp/libraries/eigen"]
	path = alignment-cpp/libraries/eigen
	url = https://gitlab.com/libeigen/eigen
