perf.data
perf.data.old
*.svg
*.png

libalignmentCPP.a
benchmarkingAndTesting.cpp

saveIntmResults
distance_results/*.csv
distance_results/after_optimizations/*.csv
timing/*.csv
timing/pipeline_complete/*.csv
timing/pipeline_optimizations/*.csv
timing/pipeline_steps/*.csv
timing/pipeline_steps/distance/*.csv
timing/pipeline_steps/edge_mask/*.csv
timing/pipeline_steps/maximum_curvature/*.csv
timing/pipeline_steps/postalignment/*.csv
timing/pipeline_steps/prealignment/*.csv

libraries_before_subm
CMakeCache.txt
CMakeFiles/
Cpp_alignment
DistanceResults
TimeMatchingSteps
TimePipComplete
TimeSteps
Testbench
Makefile
cmake_install.cmake
build

Notes.md
